body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.header {
  background-color: #007bff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
}

.header__logo-image {
  max-width: 220px;
  height: auto;
  border-style: none;
  vertical-align: top;
}

#logoutBtn {
  display: flex;
  align-items: center;
  color: #fff;
  border: none;
  background-color: #dc3545;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.navegation {
  background-color: #009ce7;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-item.active {
  background-color: #ccd;
  font-weight: bold;
}

.nav-link {
  color: #000;
  font-size: 1rem;
  border-radius: 4px;
  letter-spacing: 1px;
}

.nav-link:hover {
  background-color: #ccc;
}

.nav-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.main {
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #3399cc;
  border-color: #3399cc;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary,
.btn-info,
.btn-danger,
.btn-success {
  color: #ffffff;
}

.btn-primary:hover,
.btn-info:hover,
.btn-danger:hover,
.btn-success:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-info:focus,
.btn-danger:focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.table th {
  font-weight: bold;
}

.modal {
  z-index: 9999;
  position: fixed;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}