body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
  }
  
  .header {
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
  }
  
  .main {
	padding: 20px;
  }
  
  .card {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  .card p {
	margin-bottom: 15px;
  }
  
  .btn-primary {
	background-color: #007bff;
	border-color: #007bff;
  }

  .btn-primary {
	color: #ffffff;
  }
  
  .btn-primary:hover {
	background-color: #0069d9;
	border-color: #0062cc;
  }
  
  .btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .table th {
	font-weight: bold;
  }
  
  
  .search-form {
	display: flex;
	margin-bottom: 20px;
  }
  
  .search-input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 5px;
  }
  
  .search-button {
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  